# Firebase Configuration Template
FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_AUTH_DOMAIN=maliyildirimtr-db.firebaseapp.com
FIREBASE_PROJECT_ID=maliyildirimtr-db
FIREBASE_STORAGE_BUCKET=maliyildirimtr-db.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1079425314668
FIREBASE_APP_ID=1:1079425314668:web:726b216d3cdeedb678cd49
